# 文件夹
.*/

# 资源文件
article.assets/

# 按文件类型
*.zip
*.docx
*.xlsx
*.tmp
commit.json
.*.json
.vscode/settings.json
*.pdf
!*demo*.pdf

# 按文件名
export*
temp
temp*

# 指定文件
示例/5-石油化工基础数据手册.pdf
设计资料--给学生/4-筛板塔精馏段负荷性能图.xlsx
test.wls
*.xlsx
